@import 'styles/variables.scss';
@import 'styles/section.scss';

.About {

  max-width: 1600px;
  margin: auto;
  font-size: 30px;

  &__header {
    margin-bottom: 30px;
  }

  &__main-img {
    margin: 30px auto;
    padding: 0;
    height: 30vh;
    width: auto;
    max-width: 1200px;

    @media screen and (min-width: 700px) {
      height: 60vh;
    }
  }

  &__row-1 {
    @include section-fill-page(calc(140px + $header-height));
  }

  &__text {
    font-size: $font-size-md;
    padding: 20px;
  }

  &__heading {
    font-size: 36px;
  }

  &__emph {
    font-weight: bold;
  }

  &__process {
    &--items {
      display: flex;
      flex-direction: column;
      justify-content: space-around;

      @media screen and (min-width: 700px) {
        flex-direction: row;
        flex-wrap: wrap;
      }
    }

    &--item {
      font-size: $font-size-md;
      margin: 20px;

      @media screen and (min-width: 700px) {
        width: 40%;
      }
    }
  }

  &__gallery {
    margin: 30px auto;
    max-width: 1200px;
  }

  &__text-sections {
    max-width: 1200px;
    margin: auto;

    &--section {
      margin-bottom: 30px;
    }
  }

  &__team {
    @include section-fill-page(calc(140px + $header-height));
    max-width: 1600px;
    padding: 0;

    &--row {
      display: flex;
      flex-direction: column;

      @media screen and (min-width: 1600px) {
        flex-direction: row;
      }
    }

    &-member {
      flex-grow: 1;
      width: 90%;
      margin: auto;
      padding: 30px;
      display: flex;
      align-items: center;
      @media screen and (min-width: 1600px) {
        width: 50%;
      }

      &--right {
        flex-direction: row-reverse;

        @media screen and (min-width: 1600px) {
          flex-direction: row;
        }
      }

      &--img {
        height: 250px;
        width: 250px;
        border-radius: 50%;
        overflow: hidden;
        border: 2px solid white;

        @media screen and (max-width: 600px) {
          height: 200px;
          width: 200px;
        }

      }

      &--name {
        font-size: 24px;
        margin-bottom: 10px;
        font-weight: bold;
      }

      &--text {
        font-size: 20px;
        margin: 0 20px;
      }
    }
  }

}
