@import 'styles/button.scss';

.Home {

  max-width: 1200px;

  &__about-text {
    font-size: 30px !important;
  }

  &__links {
    display: flex;
    flex-direction: column;

    @media (min-width: 1400px) {
      flex-direction: row;
    }
  }

}
