@import 'styles/button.scss';

.Home {

  max-width: 1200px;

  &__about-text {
    font-size: 30px !important;
  }

  &__links {
    display: flex;
    flex-direction: column;

    @media (min-width: 1400px) {
      flex-direction: row;
    }
  }

  &__link {
    &--ctr {
      flex-grow: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 60vh;
      background-size:cover;
      background-origin: content-box;
      background-repeat: no-repeat;
      margin: 40px;
      position: relative;
    }

    position: relative;
    display: block;
    height: 100%;
    width: 100%;

    &:hover {
      .Home__link--text {
        text-decoration: underline;
      }
    }
    // @extend %button;
    // font-size: 40px;
    // height: 60px;
    // position: absolute;
    // right: 15%;
    // top: 15%;

    &--text {
      @extend %button;
      font-size: 40px;
      height: 60px;
      position: absolute;
      right: 15%;
      top: 15%;
    }
  }
}
