@import 'styles/variables.scss';

.rock-line {
  fill: $line-color;
}
.rock-fill {
  fill: $fill-color;
}
.rock-text {
  fill: $line-color;
  font-family: 'CourierNewPSMT';
  font-size: 150px;
  pointer-events: none;
}
#rock-svg:hover {
  cursor: pointer;
}
#rock-svg:hover .rock-fill  {
  fill: $rock-yellow;
}
