@import 'styles/variables.scss';

.Rock {
  display: flex;
  align-items: center;
  margin: 5px;
  position: relative;

  &__text {
    position: absolute;
    font-size: 25px;
  }
}

.rock-line {
  fill: white;

  &__hovered {
    // fill: #5ba05b;
  }
}

.rock-fill {
  fill: grey;

  &__hovered {
    fill: $rock-yellow;
  }
}
