@import 'styles/section.scss';

.ProjectSelector {
  margin: auto;
  padding: 50px;
  max-width: 1200px;
  height: initial;
  min-height: calc(100vh - 400px);
  padding: 0;
  display: flex;
  justify-content: center;

  &__projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  &__link {
    height: 400px;
    flex-grow: initial;

    &__img {
      width: 400px;
    }

    &__text {
      right: 50%;
      top: 50%;
      transform: translate(50%, -50%);
    }
  }
}
