@import 'styles/section.scss';

.ProjectSelector {
  @include section-fill-page(280px);
  height: initial;
  min-height: calc(100vh - 400px);
  margin: 20px;

  &__projects {
    display: flex;
    // flex-wrap: wrap;
  }

  &__link {
    height: 400px;
    // width: auto;
  }
}
