@import 'styles/variables.scss';

.Nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  background: $background-color;
  top: 0;
  left: 0;
  right: 0;
  height: 80px;
  padding: 10px;
  z-index: $z-index-navbar;

  &__buttons {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
